.container{
  background-color: rgb(240, 240, 121);
}

.hTitle {
  font-size: 5rem;
  color: black;
  margin: 0px;
  background-color: rgb(240, 240, 121);
}

.hContent {
  color:black;
  background: white;
  padding-top: 25px;
  background-color: rgb(245, 242, 106);
}

.hero {
  background-color: rgb(240, 240, 121);
  min-height: 40rem;
  text-align: center;
  background-image: url("/src/components/smile.png");
  background-size: cover;

}

html,
body {
  margin: 0;
  padding: 5;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(240, 240, 121);
}



.header1 {
  text-align: center;
  margin-bottom: 3rem;
  background-color: rgb(240, 240, 121);
}

.part1{
  padding-top: 5rem;
  border-style: solid;
  border: black;
}