nav{
    background-color: rgba(251, 217, 62, 0.938);
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    color: black;

}

.nav-link{
    font-size: 1.2rem;
    font-weight: 490;
    color: black;

}

.navbar-nav{
    justify-content: space-between;
    align-items: center;
}