h1 {
    text-align: center;
    color: rgb(66, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
}

h6 {
    text-align: center;
    color: rgb(66, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: calc(1em + 1vw);
}

/*---------------Search styling------------------*/
.search-bar{
    padding-bottom: 2rem;
}

.search-bar input{
    border: 1px solid grey;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 3rem;
    background-color: #f5f5f5;
}

/*---------------Table styling------------------*/

.table {
    font-family: Arial, Helvetica, sans-serif;
}

.ag-cell-focus,
.ag-cell-no-focus {
    border: 2%;
}
.ag-row-hover {
    background-color: #b4b231 !important;
}


/*---------------Title styling------------------*/

.title{
    font-size: 5rem;
    font-weight: 500;
}
.search-title h1{
    color: rgb(0, 0, 0);
    border: 0.9rem black;
    border-style: solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.search-title h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

